{include comm_header.html}
<div class="main">
<div class="title">{L:sale} > {$title}</div>
<table width="100%" class="l_table">
  <tr>
  <td colspan="7">
  <div class="d_bottom" style="text-align:right">
	<form method="post" action="{:url('paylist/index')}" >
	{L:order_sn}: <input name="order_sn" type="text" value="{$order_sn}"> 
	<input type="submit" value="{L:search}">
	</form>
  </div>
  </td>
  </tr>
  <tr>
    <th>{L:type}</th>
	<th>{L:order_sn}</th>
	<th>{L:payment_method}</th>
	<th>{L:Transaction ID}</th>
	<th>{L:money}</th>
	<th>{L:remark}</th>
	<th>{L:time}</th>
  </tr>
  {foreach $list as $v}
  <tr>
	<td class="pleft">{if $v['type']==1}{L:Pay}{else}{L:Refund}{/if}</td>
	<td class="pleft">{$v['order_sn']}</td>
	<td class="pleft">{$v['model']}</td>
	<td class="pleft">{$v['track_id']}</td>
	<td class="pleft">{$symbols[$v['currency']]}{$v['money']}</td>
	<td class="pleft">{$v['remark']}</td>
	<td>{$v['time']}</td>
  </tr>
  {/foreach}
</table>
{include pager.html}
</div>
{include comm_footer.html}