{include comm_header.html}
<div class="main">
<div class="title"><a href="{:url('article/index')}">{L:article}</a> > <a href="{:url('article/cate')}">{L:articlecate}</a> > {L:edit}</div>
<script type="text/javascript">
	function m(id){
		$('#leftmenu').find('li').each(function(index, val){
			if(index == id){
				$(this).addClass('l_hover');
				$('#c_' + id).show();
			}else{
				$(this).removeClass('l_hover');
				$('#c_' + index).hide();
			}
		});
	}
</script>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">{L:general}</li>
		<li style="border-top:none" onclick="m(1)">{L:picinfo}</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('article/editcate')}" >
<input name="cate_id" type="hidden" value="{$data['cate_id']}">
<table width="100%" class="r_table" id="c_0">
  <tr>
    <th>{L:name}:</th>
	<td class="tleft">
		<input name="name_key_" type="hidden" value="{$data['name_key_']}">
		<input class="len2" name="name" type="text" value="{$data['name']}"> 
		{if $data['name_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['name_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if} 
		*</td>
  </tr>
  <tr>
    <th>Url Key:</th>
	<td class="tleft"><input class="len2" name="urlkey" type="text" value="{$data['urlkey']}"></td>
  </tr>
  <tr>
    <th>{L:sortorder}:</th>
	<td class="tleft"><input class="len2" name="sort_order" type="text" value="{$data['sort_order']}"></td>
  </tr>
   <tr>
    <th>{L:enable}:</th>
	<td class="tleft">
		<input name="status" type="radio" value="1" {if $data['status']==1} checked{/if}>{L:yes} 
		<input name="status" type="radio" value="0" {if $data['status']==0} checked{/if}>{L:no}
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_1" style="display:none">
  <tr>
    <th valign="top" width="10%">{L:picture}:</th>
	<td class="tleft">
		{include editor/upload_button.html}
	</td>
  </tr>
</table>

<div class="r_bottom">
	<input type="submit" name="submit" value="{L:submit}"> 
	<input type="button" onclick="history.go(-1);" value="{L:back}">
</div>
</form>
</div>
</div>
{include comm_footer.html}