{include comm_header.html}
<div class="main">
<div class="title">{L:sale} > {$title}</div>
<table width="100%" class="l_table">
  <tr>
  <td colspan="5">
  <div class="d_bottom" style="text-align:right">
	<form method="post" action="{:url('ship/index')}" >
	{L:ship_sn}: <input name="ship_sn" type="text" value="{$ship_sn}"> 
	<input type="submit" value="{L:search}">
	</form>
  </div>
  </td>
  </tr>
  
  <tr>
    <th>{L:ship_sn}</th>
	<th>{L:type}</th>
	<th>{L:order_sn}</th>
	<th>{L:time}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $v}
  <tr>
	<td class="pleft">{$v['ship_sn']}</td>
	<td class="pleft">{if $v['type']==1}{L:ship}{else}{L:return}{/if}</td>
	<td class="pleft">{$v['order_sn']}</td>
	<td>{$v['time']}</td>
	<td>
		<a href="{:url('ship/view_ship?ship_id='.$v['id'])}">{L:view}</a> 
	</td>
  </tr>
  {/foreach}
</table>
{include pager.html}
</div>
{include comm_footer.html}