<script>
	var multieditor_n = {$editor_multibutton_n};
	function e_del(n){
		$('#multieditor_' + n).remove();
	}
	KindEditor.ready(function(K) {
		var multieditor = K.editor({
			langType : "{$lang}",
			uploadJson : "{:url('upload/image?type='.$editor_multibutton_imgtype.'&session_id='.$session_id)}"
		});
		K('#J_selectImage').click(function() {
			multieditor.loadPlugin('multiimage', function() {
				multieditor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						var div = K('#J_imageView');
						K.each(urlList, function(i, data) {
							div.append('<div class="goodsimg" id="multieditor_' + multieditor_n + '"><img src="' + data.url + '"><input type="hidden" name="{$editor_multibutton_name}[]" value="' + data.url + '"/><a href="javascript:e_del(' + multieditor_n + ')">×</a></div>');
							multieditor_n++;
						});
						multieditor.hideDialog();
					}
				});
			});
		});
	});
</script>
<div id="J_imageView" style="overflow:auto;zoom:1;">
{if $editor_multibutton_value}
	{foreach $editor_multibutton_value as $k=>$v}
		<div class="goodsimg" id="multieditor_{$k}">
		<img src="{$v['image']}">
		<input type="hidden" name="{$editor_multibutton_name}[]" value="{$v['image']}"/>
		<a href="javascript:e_del({$k})" onclick="return confirm('{L:confirm_delete}')">×</a>
		</div>
	{/foreach}
{/if}
</div>
<input type="button" id="J_selectImage" value="{L:upload_img}" />