<script>
	var multieditor_n = {$editor_multibutton_n};
	function e_del(n){
		$('#multieditor_' + n).remove();
	}
	KindEditor.ready(function(K) {
		var multieditor = K.editor({
			langType : "{$lang}",
			uploadJson : "{:url('upload/image?type='.$editor_multibutton_imgtype.'&session_id='.$session_id)}"
		});
		K('#J_selectImage').click(function() {
			multieditor.loadPlugin('multiimage', function() {
				multieditor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						K.each(urlList, function(i, data) {
							$('#J_imageView').append('<tr class="goodsimg" id="multieditor_' + multieditor_n + '"><td><img class="img" src="' + data.url + '"></td><td><input type="hidden" name="{$editor_multibutton_name}[]" value="' + data.url + '"/><input name="{editor_multibutton_label_key}[]" type="hidden" value=""><input type="text" name="{$editor_multibutton_label}[]" value="' + data.label + '"/></td><td><a href="javascript:e_del(' + multieditor_n + ')">×</a></td></tr>');
							multieditor_n++;
						});
						multieditor.hideDialog();
					}
				});
			});
		});
	});
</script>
<table class="i_table" style="width:98%;overflow:auto;zoom:1;">
<thead>
<tr>
	<th width="20%">{L:image}</th>
	<th width="70%">{L:label}</th>
	<th width="10%">{L:delete}</th>
</tr>
</thead>
<tbody id="J_imageView">
{if $editor_multibutton_value}
	{foreach $editor_multibutton_value as $k=>$v}
		<tr class="goodsimg" id="multieditor_{$k}">
			<td><img class="img" src="{$v['image']}"></td>
			<td>
				<input type="hidden" name="{$editor_multibutton_name}[]" value="{$v['image']}"/>
				<input name="{editor_multibutton_label_key}[]" type="hidden" value="{$v['label_key_']}">
				<input type="text" name="{$editor_multibutton_label}[]" value="{$v['label']}"/>
				{if $v['label_key_']}
					<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$v['label_key_'])}">
					<img src="{TPL_PATH}images/t.png">
					</a>
				{/if}
			</td>
			<td><a href="javascript:e_del({$k})" onclick="return confirm('{L:confirm_delete}')">×</a></td>
		</tr>
	{/foreach}
{/if}
</tbody>
</table>
<input type="button" id="J_selectImage" value="{L:upload_img}" />