<div id="footer" class="mtop2">
	<div class="box footline helplist">
		<div class="fleft">
		{$foot_article}
		</div>
		<div class="fleft" style="margin-left:16px;">
			<form action="{:url('newsletter/subscribe')}" method="post" target="_blank">
				<input type="text" value="" name="email">
				<input class="abutton" type="submit" value="{L:Subscribe}">
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div class="box">
		<div class="fleft">
			<div class="footnav">
			<a href="{:url('index/index')}">{L:Home}</a>
			{foreach $bottom_nav as $v}
			| <a href="{$v['url']}">{$v['title']}</a>
			{/foreach}
			</div>
			<div class="copyright">
			{$copyright}
			<br/>
			Powered by <a href="http://www.mallmold.com/">Mallmold</a>.
			</div>
		</div>
		<div class="fright footlogo"><img src="{$bottom_logo}"></div>
	</div>
</div>
</body>
</html>