<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="{TPL_PATH}images/style.css">
	<script type="text/javascript" src="{TPL_PATH}js/jquery-1.4.2.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
	window.print();
});
</script>
<div class="main">
<div class="order" style="margin:0 auto;">
<div class="order_ship">
<h3>#{$order['order_sn']} ({$order_status[$order['status']]})</h3>
<hr/>
<table width="100%">
			<tr>
				<th width="20%">{L:order_sn}:</th><td>{$order['order_sn']}</td>
				<th width="20%">{L:order_time}:</th><td>{$order['time']}</td>
			</tr>
			<tr>
				<th>{L:goods_amount}:</th><td>{$order['symbol']}{$order['goods_amount']}</td>
				<th>{L:tax_fee}:</th><td>{$order['symbol']}{$order['tax_fee']}</td>
			</tr>
			<tr>
				<th>{L:shipping_fee}:</th><td>{$order['symbol']}{$order['shipping_fee']}</td>
				<th>{L:total_amount}:</th><td>{$order['symbol']}{$order['total_amount']}</td>
			</tr>
			<tr>
				<th>{L:shipping_method}:</th><td>{$order['shipping_method']}</td>
				<th>{L:pament_method}:</th><td>{$order['pament_method']}</td>
			</tr>
		</table>
<h4></h4>
<style>
	.l_table,.l_table tr, .l_table td{
		border_ship:1px solid #fff;
		line-height:24px;
	}
	.l_table th{
		border_ship-top:1px solid #fff;
		border_ship-left:1px solid #fff;
		border_ship-right:1px solid #fff;
	}
</style>
<table width="100%" class="l_table">
			<tr>
				<th>SKU</th>
				<th>{L:product_name}</th>
				<th>{L:options}</th>
				<th>{L:quantity}</th>
				<th>{L:subtotal}</th>
			</tr>
			{foreach $order['goods'] as $v}
			<tr>
				<td>{$v['goods_sku']}</td>
				<td>{$v['goods_name']}</td>
				<td>
				{eval $options = json_decode($v['options'], true);}
				{if $options}
				{foreach $options as $op}
				<div>{$op['name']}:{$op['value']}</div>
				{/foreach}
				{/if}
				</td>
				<td>{$v['quantity']}</td>
				<td>{$order['symbol']}{$v['subtotal']}</td>
			</tr>
			{/foreach}
		</table>
	<h4>{L:shipping_address}:</h4>
	<div class="address_details">
				{$order['address']['firstname']} {$order['address']['lastname']}<br/>
				{$order['address']['phone']} 
				{$order['address']['address']} 
				{$order['address']['postcode']}<br/>
				{$order['address']['state']} {$order['address']['country']}
	</div>
	<h4>{L:billing_address}:</h4>
	<div class="address_details">
				{$order['billing_address']['firstname']} {$order['billing_address']['lastname']}<br/>
				{$order['billing_address']['phone']}<br/>
				{$order['billing_address']['address']} <br/>
				{if $order['billing_address']['address2']} {$order['billing_address']['address2']}<br/>{/if}
				{$order['billing_address']['postcode']} {$order['billing_address']['state']} {$order['billing_address']['country']}
	</div>
</div>
</div>
</div>
{include comm_footer.html}