{include header.html}
<section id="content">
	<div class="container">
	{include map.html}
	<div class="row">
		<div class="col-sm-6">
			<h3>{$html_title}</h3>
			<div class="gap-10"></div>
			<form method="post" action="{:url('user/doregister')}" role="form">
			<div class="form-group">
				<input type="text" class="form-control input-lg" name="firstname" placeholder="{L:First Name} *">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-lg" name="lastname" placeholder="{L:Last Name} *">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-lg" name="email" placeholder="{L:Email} *">
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" name="password" placeholder="{L:Password} *">
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" name="repassword" placeholder="{L:Confirm password} *">
			</div>
			{if $register_verify==1}
			<div class="form-group">
				<input type="email" class="form-control input-lg" style="width:156px;display:inline-block;" name="captcha" placeholder="{L:Captcha} *">
				<a href="javascript:;"><img id="captcha" align="absmiddle" src="{:url('captcha/index')}"/></a>
				<script type="text/javascript">
					$(document).ready(function(){
						$('#captcha').click(function(){
							$(this).attr('src', "{:url('captcha/index?update=')}" + Math.random());
						});
					});
				</script>
			</div>
			{/if}
			<div class="pull-right">
				<button type="submit" class="btn btn-primary btn-lg">{L:Submit}</button>
			</div>
			</form>
			<div class="gap-30"></div>
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			{L:Already have an account?} <a href="{:url('user/login')}">{L:Login}</a>
		</div>
	</div>
	</div>
</section>
{include footer.html}