{include comm_header.html}
<div class="main">
<div class="title">{$title}</div>
<table width="100%" class="l_table">
  <tr>
  <td colspan="5">
  <div class="d_bottom" style="text-align:right">
	<form method="post" action="{:url('helpdesk/index')}" >
	{L:Email}: <input name="email" type="text" value="{$email}"> 
	<input type="submit" value="{L:search}">
	</form>
  </div>
  </td>
  </tr>
  <tr>
    <th>ID</th>
	<th>{L:title}</th>
	<th>{L:Email}</th>
	<th>{L:time}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $v}
  <tr>
	<td>{$v['id']}</td>
	<td>{$v['title']}</td>
	<td>{$v['email']}</td>
	<td>{$v['time']}</td>
	<td>
		<a href="{:url('helpdesk/ticket?id='.$v['id'])}">{L:view}</a> 
	</td>
  </tr>
  {/foreach}
</table>
{include pager.html}
</div>
{include comm_footer.html}