{include header.html}
<div class="box">
	{include map.html}
	<div class="fleft" id="left">
		<h3>{L:Category}</h3>
		<ul>
		{foreach $cates_list as $v}
		<li>
		<a href="{:url($v['url'])}"{if $v['cate_id']==$cate_id} class="hover"{/if}>
		{$v['name']}
		</a>
		</li>
		{/foreach}
		</ul>
	</div>
	<div class="fright" id="right">
		<h3>{$html_title}</h3>
		<div class="article">
			<ul>
			{foreach $list as $v}
			<li>> <a href="{:url($v['url'])}">{$v['title']}</a></li>
			{/foreach}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
{include footer.html}