{include comm_header.html}
<div class="main">
<div class="title">{L:product} > <a href="{:url('attribute/index')}">{L:filter_attribute}</a> > {$title}</div>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">{L:general}</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('attribute/add')}" >
<input name="id" type="hidden" value="{$data['attr_id']}">
<table width="100%" class="r_table" id="c_0">
  <tr>
	<th>{L:attribute_code}:</th>
	<td class="tleft">
		{if $data['code']}
			{$data['code']}
			<input name="code" type="hidden" value="{$data['code']}">
		{else}
			<input class="len2" name="code" type="text" value=""> *
		{/if}
	</td>
  </tr>
  <tr>
	<th>{L:attribute_name}:</th>
	<td class="tleft">
		<input name="name_key_" type="hidden" value="{$data['name_key_']}">
		<input class="len2" name="name" type="text" value="{$data['name']}"> 
		{if $data['name_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['name_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if} 
		*</td>
  </tr>
  <tr>
    <th>{L:type}:</th>
	<td class="tleft">
		<label><input name="type" type="radio" value="1" {if $data['type'] == 1}checked{/if}>{L:Single}</label>
		<label><input name="type" type="radio" value="2" {if $data['type'] == 2}checked{/if}>{L:Multiple}</label>
	</td>
  </tr>
  <tr>
    <th>{L:if_filter}:</th>
	<td class="tleft">
		<label><input name="can_filter" type="radio" value="1" {if $data['can_filter'] == 1}checked{/if}>{L:yes}</label>
		<label><input name="can_filter" type="radio" value="0" {if $data['can_filter'] == 0}checked{/if}>{L:no}</label>
	</td>
  </tr>
  <tr>
    <th>{L:sortorder}:</th>
	<td class="tleft"><input class="len2" name="sort_order" type="text" value="{$data['sort_order']}"></td>
  </tr>
  <tr>
    <th>{L:enable}:</th>
	<td class="tleft">
		<label><input name="status" type="radio" value="1" {if $data['status'] == 1}checked{/if}>{L:yes}</label>
		<label><input name="status" type="radio" value="0" {if $data['status'] == 0}checked{/if}>{L:no}</label>
	</td>
  </tr>
</table>

<div class="r_bottom">
	<input type="submit" name="submit" value="{L:submit}"> 
	<input type="button" onclick="history.go(-1);" value="{L:back}">
</div>
</form>
</div>
</div>
{include comm_footer.html}