{include comm_header.html}
<div class="main">
<div class="title">{L:system} > <a href="{:url('area/index')}">{L:country_list}</a> > <a href="{:url('area/region?id='.$region['country_id'])}">{L:region_list}:{$region['name']}</a> > {$title}</div>
<table width="100%" class="l_table">
  <tr>
    <th>ID</th>
	<th>{L:postcode}</th>
	<th>{L:region_name}</th>
	<th>{L:sortorder}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $val}
  <tr>
	<td>{$val['city_id']}</td>
	<td>{$val['postcode']}</td>
	<td class="pleft">{$val['name']}</td>
	<td>{$val['sort_order']}</td>
	<td>
	<a href="{:url('area/editcity?region_id='.$region_id.'&city_id='.$val['city_id'])}">{L:edit}</a> 
	<a href="{:url('area/delcity?region_id='.$region_id.'&city_id='.$val['city_id'])}" onclick="return confirm('{L:confirm_delete}')">{L:delete}</a></td>
  </tr>
  {/foreach}
  <tr>
  <td colspan="5">
  <div class="d_bottom">
	<a class="aborder" href="{:url('area/editcity?region_id='.$region_id)}">{L:add_city}</a>  
	<input type="button" onclick="history.go(-1);" value="{L:back}">
	</div>
  </td>
  </tr>
</table>
{include pager.html}
</div>
{include comm_footer.html}