{include comm_header.html}
<div class="main">
<div class="title">{$title}</div>
<table width="100%" class="l_table">
  <tr>
	<th>{L:title}</th>
	<th>{L:sent}</th>
	<th>{L:read}</th>
	<th>{L:status}</th>
	<th>{L:enable}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $val}
  <tr>
	<td>{$val['title']}</td>
	<td>{$val['sent']}</td>
	<td>{$val['read']}</td>
	<td>{if $val['status']==0}Unsent{elseif $val['status']==1}Queue{else}Finish{/if}</td>
	<td>{if $val['enable']==0}{L:no}{else}{L:yes}{/if}</td>
	<td>
	<a href="{:url('newsletter/edit?newsletter_id='.$val['newsletter_id'])}">{L:edit}</a> 
	{if $val['status']!=1}<a href="{:url('newsletter/del?newsletter_id='.$val['newsletter_id'])}" onclick="return confirm('{L:confirm_delete}')">{L:delete}</a>{/if}
	</td>
  </tr>
  {/foreach}
  <tr>
  <td colspan="7">
  <div class="d_bottom">
	<a class="aborder" href="{:url('newsletter/edit')}">{L:add}</a> 
	</div>
  </td>
  </tr>
</table>
{include pager.html}
</div>
{include comm_footer.html}