{include header.html}
<div class="box">
	{include map.html}
	<div class="fleft" id="left">
		<h3>{L:Category}</h3>
		<ul>
		{foreach $catalogs as $v}
		<li><a href="{:url($v['url'])}"{if $v['id']==$id} class="hover"{/if}>{$v['name']}</a></li>
			{if $v['childnum']>0}
				{foreach $v['child'] as $val}
				<li>
				<a href="{:url($val['url'])}" class="child {if $val['id']==$id} hover{/if}">
				&nbsp;&nbsp;&nbsp;&nbsp;{$val['name']}
				</a>
				</li>
					{if $val['childnum']>0}
						{foreach $val['child'] as $val2}
						<li>
						<a href="{:url($val2['url'])}" class="child {if $val2['id']==$id} hover{/if}">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$val2['name']}
						</a>
						</li>
						{/foreach}
					{/if}
				{/foreach}
			{/if}
		{/foreach}
		</ul>
		
	</div>
	<div class="fright" id="right">
		<div class="attr">
		{foreach $attributes as $v}
			{if $v['can_filter']==1}
			<dl>
				<dt>{$v['name']}:</dt>
				{foreach $v['values'] as $val}
				<dd>
				<a rel="nofollow" href="{:url('catalog/index?'.$v['base_args'].'&attr_'.$val['attr_id'].'='.$val['av_id'])}"{if $attr_args[$val['attr_id']]==$val['av_id']} class="hover"{/if}>
				{$val['title']}
				</a>
				{if $attr_args[$val['attr_id']]==$val['av_id']}
				<a rel="nofollow" class="del_s" href="{:url('catalog/index?'.$v['base_args'])}">×</a>
				{/if}
				</dd>
				{/foreach}
			</dl>
			<div class="clear"></div>
			{/if}
		{/foreach}
		</div>
		<div class="page_top">{include pager.html}</div>
		<div class="list">
			{foreach $list as $v}
			<div class="goods">
				<div class="fleft img">
				<a href="{:url($v['url'])}"><img src="{$v['image'][$img_sign]}"/></a>
				</div>
				<div class="fright detail">
				<p class="name"><a href="{:url($v['url'])}">{$v['title']}</a></p>
				<p>{L:Origin price}: <del>{$v['price_origin']}</del></p>
				<p>{L:Special price}: {$v['price']}</p>
				<p>{$v['brief']}</p>
				<p><a class="abutton" href="{:url($v['url'])}">{L:Show details}</a></p>
				</div>
				<div class="clear"></div>
			</div>
			{/foreach}
		</div>
		<div class="page_bottom">{include pager.html}</div>
	</div>
	<div class="clear"></div>
</div>
{include footer.html}