{include header.html}
<div class="box">
	{include map.html}
	<div class="fleft" id="left">
		{include catalog/catalogs.html}
	</div>
	<div class="fright" id="right">
		<div class="attr">
		{foreach $attributes as $v}
			{if $v['can_filter']==1}
			<dl>
				<dt>{$v['name']}:</dt>
				{foreach $v['values'] as $val}
				<dd>
				<a rel="nofollow" href="{:url($v['base_args'].$v['code'].'='.$val['av_id'])}"{if $attr_args[$v['code']]==$val['av_id']} class="hover"{/if}>
				{$val['title']}
				</a>
				{if $attr_args[$v['code']]==$val['av_id']}
				<a rel="nofollow" class="del_s" href="{:url($v['base_args'])}">×</a>
				{/if}
				</dd>
				{/foreach}
			</dl>
			<div class="clear"></div>
			{/if}
		{/foreach}
		</div>
		<div class="page_top">{include pager.html}</div>
		<div class="list">
			{foreach $list as $goods}
			<div class="goods">
				<div class="fleft img">
				<a href="{:url($goods['url'])}"><img src="{$goods['image'][$img_sign]}"/></a>
				</div>
				<div class="fright detail">
				<p class="name"><a href="{:url($goods['url'])}">{$goods['title']}</a></p>
				{include goods/rating.html}
				<p>{L:Origin price}: <del>{$goods['price_origin']}</del></p>
				<p>{L:Special price}: {$goods['price']}</p>
				<p>{$goods['brief']}</p>
				<p><a class="abutton" href="{:url($goods['url'])}">{L:Show details}</a></p>
				</div>
				<div class="clear"></div>
			</div>
			{/foreach}
		</div>
		<div class="page_bottom">{include pager.html}</div>
	</div>
	<div class="clear"></div>
</div>
{include footer.html}