{include comm_header.html}
<div class="main">
<div class="title">{L:module} > <a href="{:url('pages/index')}">{L:pages}</a> > {L:edit}</div>
<script type="text/javascript">
	function m(id){
		$('#leftmenu').find('li').each(function(index, val){
			if(index == id){
				$(this).addClass('l_hover');
				$('#c_' + id).show();
			}else{
				$(this).removeClass('l_hover');
				$('#c_' + index).hide();
			}
		});
	}
</script>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">{L:general}</li>
		<li style="border-top:none" onclick="m(1)">{L:picinfo}</li>
		<li style="border-top:none" onclick="m(2)">{L:seo_mata}</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('pages/edit')}" >
<input name="id" type="hidden" value="{$data['id']}">
<table width="100%" class="r_table" id="c_0">
  <tr>
    <th>{L:title}:</th>
	<td class="tleft">
		<input name="title_key_" type="hidden" value="{$data['title_key_']}">
		<input class="len2" name="title" type="text" value="{$data['title']}">
		{if $data['title_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['title_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if} 
		*</td>
  </tr>
  <tr>
    <th>Url Key:</th>
	<td class="tleft"><input class="len2" name="urlkey" type="text" value="{$data['urlkey']}"></td>
  </tr>
  <tr>
    <th valign="top">{L:content}:</th>
	<td class="tleft">
		{include editor/editor.html}
		<div style="margin:8px 0;width:600px;padding:2px 2px;border:1px solid #ccc;font-size:11px;background:#F0F0F0">
		<b>Supported tags:</b><br/>
		{tag type="goods/list" where="***" limit="*" order="time" tpl="tag/goods_list.html"}<br/>
		{tag type="article/list" cate_id="*" limit="*" tpl="tag/article_list.html"}<br/>
		{tag type="slider" id="***" tpl="tag/slider.html"}<br/>
		{tag type="block" id="***"}
		</div>
	</td>
  </tr>
  <tr>
    <th>{L:sortorder}:</th>
	<td class="tleft"><input class="len2" name="sort_order" type="text" value="{$data['sort_order']}"></td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_1" style="display:none">
  <tr>
    <th valign="top" width="10%">{L:picture}:</th>
	<td class="tleft">
		{include editor/upload_button.html}
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_2" style="display:none">
  <tr>
    <th>{L:meta_title}:</th>
	<td class="tleft"><input name="meta_title_key_" type="hidden" value="{$data['meta_title_key_']}">
	<input class="len2" name="meta_title" type="text" value="{$data['meta_title']}">
	{if $data['meta_title_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['meta_title_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
	{/if} 
	</td>
  </tr>
  <tr>
    <th width="180" valign="top">{L:meta_keywords}:</th>
	<td class="tleft">
		<input name="meta_keywords_txtkey_" type="hidden" value="{$data['meta_keywords_txtkey_']}">
		<textarea rows="4" cols="48" name="meta_keywords">{$data['meta_keywords']}</textarea>
	</td>
  </tr>
  <tr>
    <th width="180" valign="top">{L:meta_description}:</th>
	<td class="tleft">
		<input name="meta_description_txtkey_" type="hidden" value="{$data['meta_description_txtkey_']}">
		<textarea rows="4" cols="48" name="meta_description">{$data['meta_description']}</textarea>
	</td>
  </tr>
</table>

<div class="r_bottom">
	<input type="submit" name="submit" value="{L:submit}"> 
	<input type="button" onclick="history.go(-1);" value="{L:back}">
</div>
</form>
</div>
</div>
{include comm_footer.html}