{include comm_header.html}
<div class="main">
<div class="title">{L:module} > <a href="{:url('dictionary/index')}">{L:str_dictionary}</a> > {L:edit}</div>
<script type="text/javascript">
	function m(id){
		$('#leftmenu').find('li').each(function(index, val){
			if(index == id){
				$(this).addClass('l_hover');
				$('#c_' + id).show();
			}else{
				$(this).removeClass('l_hover');
				$('#c_' + index).hide();
			}
		});
	}
</script>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">{L:general}</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('dictionary/edit')}" >
<input name="id" type="hidden" value="{$data['id']}">
<table width="100%" class="r_table" id="c_0">
  {foreach $language as $l}
  {eval $key = 'dict_val_'.$l['code'];}
  <tr>
    <th valign="top">{$l['name']}:</th>
	<td class="tleft">
		<textarea name="{$key}" cols="48" rows="2">{$data[$key]}</textarea> 
	</td>
  </tr>
  {/foreach}
</table>
<div class="r_bottom">
	<input type="submit" name="submit" value="{L:submit}"> 
	<input type="button" onclick="history.go(-1);" value="{L:back}">
</div>
</form>
</div>
</div>
{include comm_footer.html}