{include comm_header.html}
<div class="main">
<div class="title">{L:system} > {$title}</div>
<table width="100%" class="l_table">
  <tr>
    <th>Code</th>
	<th>{L:name}</th>
	<th>{L:enable}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $v}
  <tr>
    <td class="pleft">{$v['code']}</td>
	<td class="pleft">{$v['name']}</td>
	<td><a href="{:url('language/set?change=status&id='.$v['id'])}" title="{L:click_to_edit}">{if $v['status'] !=0}{L:yes}{else}{L:no}{/if}</a></td>
	<td>
	<a href="{:url('language/edit?code='.$v['code'])}">{L:edit_lang}</a> 
	<a href="{:url('language/del?id='.$v['id'])}" onclick="return confirm('{L:confirm_delete}')">{L:delete}</a>
	</td>
  </tr>
  {/foreach}
  <tr>
  <td colspan="5">
	<div class="d_bottom">
	<a class="aborder" href="{:url('language/add')}">{L:add_lang}</a>
		</div>
  </td>
  </tr>
</table>
</div>
{include comm_footer.html}