<tr>
	<th>Test Mode:</th>
	<td class="tleft">
		<label><input name="test_mode" type="radio" value="1" {if $setting['test_mode']==1} checked{/if}>{L:yes}</label> 
		<label><input name="test_mode" type="radio" value="0" {if $setting['test_mode']==0} checked{/if}>{L:no}</label>
	</td>
</tr>
<tr>
	<th>Api ID:</th>
	<td class="tleft">
		<input class="len2" name="api_id" type="text" value="{$setting['api_id']}"> *
	</td>
</tr>
<tr>
	<th>Transaction Key:</th>
	<td class="tleft">
		<input class="len2" name="api_key" type="text" value="{$setting['api_key']}"> *
	</td>
</tr>
