{include comm_header.html}
<div class="main">
<div class="title">{L:sale} > {$title}</div>
<table width="100%" class="l_table">
  <tr>
    <th>ID</th>
	<th>{L:name}</th>
	<th>{L:pament_method}</th>
	<th>{L:bind_country}</th>
	<th>{L:sortorder}</th>
	<th>{L:enable}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $v}
  <tr>
    <td>{$v['id']}</td>
	<td class="pleft">{$v['name']}</td>
	<td class="pleft">{$v['description']}</td>
	<td>{if $v['bind']==0}{L:yes}{else}{L:no}{/if}</a></td>
	<td>{$v['sort_order']}</td>
	<td>{if $v['status'] !=0}{L:yes}{else}{L:no}{/if}</a></td>
	<td>
	<a href="{:url('payment/edit?id='.$v['id'])}">{L:setting}</a> 
	</td>
  </tr>
  {/foreach}
</table>
</div>
{include comm_footer.html}