<tr>
	<th>{L:Test Mode}:</th>
	<td class="tleft">
		<label><input name="test_mode" type="radio" value="1" {if $setting['test_mode']==1} checked{/if}>{L:yes}</label> 
		<label><input name="test_mode" type="radio" value="0" {if $setting['test_mode']==0} checked{/if}>{L:no}</label>
	</td>
</tr>
<tr>
	<th>Pay to Email:</th>
	<td class="tleft">
		<input class="len2" name="pay_to_email" type="text" value="{$setting['pay_to_email']}"> *
	</td>
</tr>
<tr>
	<th>Secret Word:</th>
	<td class="tleft">
		<input class="len2" name="secret" type="text" value="{$setting['secret']}"> *
	</td>
</tr>
