{include comm_header.html}
<div class="main">
<div class="title">{L:sale} > <a href="{:url('shipping/index')}">{L:shipping}</a>:{$data['name']} > {$title}</div>
<table width="100%" class="l_table">
  <tr>
	<th>{L:region_name}</th>
	<th>{L:base_fee}</th>
	<th>{L:step_fee}</th>
	<th>{L:action}</th>
  </tr>
  {foreach $list as $v}
  <tr>
	<td class="pleft">{$region[$v['region_id']]}</td>
	<td>{$current_symbol}{$v['base_fee']}</td>
	<td>{$current_symbol}{$v['step_fee']}</td>
	<td>
	<a href="{:url('shipping/editregion?id='.$v['id'])}">{L:modify}</a> 
	<a href="{:url('shipping/delregion?id='.$v['id'])}" onclick="return confirm('{L:confirm_delete}')">{L:delete}</a>
	</td>
  </tr>
  {/foreach}
  <tr>
  <td colspan="4">
	<div class="d_bottom"><a class="aborder" href="{:url('shipping/editregion?shipping_id='.$data['shipping_id'])}">{L:new_region}</a> </div>
  </td>
  </tr>
</table>
</div>
{include comm_footer.html}