<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="{TPL_PATH}images/style.css">
	<script type="text/javascript">
	var gourl = {$url};
	function gotourl(){
		if(gourl == -1){
			history.go(-1);
		}else if(gourl != ''){
			window.location = gourl;
		}
	}
	</script>
</head>
<body>
<div class="box center">
<h1>Error</h1>
<div style="text-align:center;padding-bottom:10px">
{$msg}
<br/><br/><a class="aborder" href="javascript:gotourl();">{L:continue}</a>
</div>
</div>
</body>
</html>