{include comm_header.html}
<div class="main">
<div class="title">{L:module} > <a href="{:url('slider/index')}">{L:slider}</a>:{$title}</div>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">{L:general}</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('slider/addimage')}" >
<input name="slider_id" type="hidden" value="{$slider_id}">
<input name="id" type="hidden" value="{$data['id']}">
<table width="100%" class="r_table" id="c_0">
  <tr>
    <th valign="top" width="10%">{L:image}:</th>
	<td class="tleft">
		{include editor/upload_button.html}  *
	</td>
  </tr>
  <tr>
    <th>{L:title}:</th>
	<td class="tleft">
		<input name="title_key_" type="hidden" value="{$data['title_key_']}">
		<input class="len2" name="title" type="text" value="{$data['title']}">
		{if $data['title_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['title_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if} 
	</td>
  </tr>
  <tr>
    <th valign="top">{L:description}:</th>
	<td class="tleft">
		<input name="description_txtkey_" value="{$data['description_txtkey_']}" type="hidden">
		<textarea rows="4" cols="48" name="description">{$data['description']}</textarea>
		{if $data['description_txtkey_']}
		<a class="t" href="{:url('dictionary/ajax?type=_txtkey_&key='.$data['description_txtkey_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if}
	</td>
  </tr>
  <tr>
    <th>{L:Link}:</th>
	<td class="tleft"><input class="len2" name="link" type="text" value="{$data['link']}"></td>
  </tr>
  <tr>
    <th>{L:sortorder}:</th>
	<td class="tleft"><input class="len2" name="sort_order" type="text" value="{$data['sort_order']}"></td>
  </tr>
  <tr>
    <th>{L:enable}:</th>
	<td class="tleft">
		<input name="status" type="radio" value="1" {if $data['status']==1} checked{/if}>{L:yes} 
		<input name="status" type="radio" value="0" {if $data['status']==0} checked{/if}>{L:no}
	</td>
  </tr>
</table>

<div class="r_bottom">
	<input type="submit" name="submit" value="{L:submit}"> 
	<a class="aborder" href="{:url('slider/image?id='.$slider_id)}">{L:back}</a>
</div>
</form>
</div>
</div>
{include comm_footer.html}