{include comm_header.html}
<div class="main">
<div class="title">系统 <span>></span> {$title}</div>
<script type="text/javascript">
	function m(id){
		$('#leftmenu').find('li').each(function(index, val){
			if(index == id){
				$(this).addClass('l_hover');
				$('#c_' + id).show();
			}else{
				$(this).removeClass('l_hover');
				$('#c_' + index).hide();
			}
		});
	}
</script>
<div class="m_left">
	<ul id="leftmenu">
		<li class="l_hover" onclick="m(0)">基本信息</li>
		<li style="border-top:none" onclick="m(1)">商品设置</li>
		<li style="border-top:none" onclick="m(2)">购买设置</li>
		<li style="border-top:none" onclick="m(3)">客户设置</li>
		<li style="border-top:none" onclick="m(4)">移动访问</li>
		<li style="border-top:none" onclick="m(5)">邮箱设置</li>
		<li style="border-top:none" onclick="m(6)">消息通知</li>
		<li style="border-top:none" onclick="m(7)">管理设置</li>
	</ul>
</div>
<div class="m_right">
<form  method="post" action="{:url('setting/update')}" >
<table width="100%" class="r_table" id="c_0">
  <tr>
    <th width="180">网站名称:</th>
	<td class="tleft">
		<input name="sys[web_name_key_]" type="hidden" value="{$data['web_name_key_']}">
		<input class="len2" name="sys[web_name]" type="text" value="{$data['web_name']}"> 
		{if $data['web_name_key_']}
		<a class="t" href="{:url('dictionary/ajax?type=_key_&key='.$data['web_name_key_'])}">
		<img src="{TPL_PATH}images/t.png">
		</a>
		{/if}
	</td>
  </tr>
  <tr>
    <th>默认域名:</th>
	<td class="tleft">
		<input class="len2" name="sys[default_host]" type="text" value="{$data['default_host']}">
	</td>
  </tr>
  <tr>
    <th>头部Logo:</th>
	<td class="tleft">
		{include editor/upload_button.html}
	</td>
  </tr>
  <tr>
    <th>底部Logo:</th>
	<td class="tleft">
		{include editor/upload_button.html}
	</td>
  </tr>
  <tr>
    <th>前端APP:</th>
	<td class="tleft">
		<input class="len2" name="sys[frontend]" type="text" value="{$data['frontend']}">
	</td>
  </tr>
  <tr>
    <th>默认模板:</th>
	<td class="tleft">
		<input class="len2" name="sys[default_tpl]" type="text" value="{$data['default_tpl']}">
	</td>
  </tr>
  <tr>
    <th>默认国家:</th>
	<td class="tleft">
		<select class="len2" name="sys[default_country]">
			{foreach $country as $v}
			<option value="{$v['id']}" {if $v['id']==$data['default_country']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>默认时区:</th>
	<td class="tleft">
		<input class="len2" name="sys[default_timezone]" type="text" value="{$data['default_timezone']}">
	</td>
  </tr>
  <tr>
    <th>默认语言:</th>
	<td class="tleft">
		<select class="len2" name="sys[default_lang]">
			{foreach $language as $v}
			<option value="{$v['code']}" {if $v['code']==$data['default_lang']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th valign="top">默认货币:</th>
	<td class="tleft">
		<select class="len2" name="sys[default_cur]">
			{foreach $currency as $v}
			<option value="{$v['code']}" {if $v['code']==$data['default_cur']} selected{/if}>{$v['name']} ({$v['code']})</option>
			{/foreach}
		</select><br/>
		<span style="color:red">(更改需手动更新商品及配送价格)</span>
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_1" style="display:none">
  <tr>
    <th width="180">商品重量单位:</th>
	<td class="tleft">
		<input class="len2" name="sys[weight_unit]" type="text" value="{$data['weight_unit']}">
	</td>
  </tr>
  <tr>
    <th width="180">商品默认排序:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_order]">
			<option value="sort_order" {if $data['goods_order']=='sort_order'} selected{/if}>商品排序号</option>
			<option value="addtime" {if $data['goods_order']=='addtime'} selected{/if}>添加时间</option>
			<option value="soldnum" {if $data['goods_order']=='soldnum'} selected{/if}>销量</option>
			<option value="goods_id" {if $data['goods_order']=='goods_id'} selected{/if}>商品ID</option>
		</select>
	</td>
  </tr>
  <tr>
    <th width="180">显示不可卖商品:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[show_unsale]" {if $data['show_unsale']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[show_unsale]" {if $data['show_unsale']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">是否可预售:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[pre_sale]" {if $data['pre_sale']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[pre_sale]" {if $data['pre_sale']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">商品评论默认审核:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[comment_accept]" {if $data['comment_accept']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[comment_accept]" {if $data['comment_accept']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">首页商品图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_index_sid]">
			{foreach $image_setting['goods_main_img'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_index_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th width="120">列表页商品图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_list_sid]">
			{foreach $image_setting['goods_main_img'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_list_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>详细页商品主图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_view_sid]">
			{foreach $image_setting['goods_main_img'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_view_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>商品展示大图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_imgs_big_sid]">
			{foreach $image_setting['goods_imgs'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_imgs_big_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>商品展示小图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_imgs_small_sid]">
			{foreach $image_setting['goods_imgs'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_imgs_small_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_2" style="display:none">
  <tr>
    <th width="180">订单前缀:</th>
	<td class="tleft">
		<input class="len2" name="sys[order_prefix]" type="text" value="{$data['order_prefix']}">
	</td>
  </tr>
  <tr>
    <th width="180">日期格式:</th>
	<td class="tleft">
		<input class="len2" name="sys[date_format]" type="text" value="{$data['date_format']}"> (默认: Y-m-d H:i:s)
	</td>
  </tr>
  <tr>
    <th width="180">默认优惠券过期天数:</th>
	<td class="tleft">
		<input class="len2" name="sys[coupon_expire_day]" type="text" value="{$data['coupon_expire_day']}"> (0则不过期)
	</td>
  </tr>
  <tr>
    <th width="180">允许游客下单:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[visitor_order]" {if $data['visitor_order']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[visitor_order]" {if $data['visitor_order']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>订单创建邮件通知客户:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_order_notice]" {if $data['user_order_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_order_notice]" {if $data['user_order_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>订单付款邮件通知客户:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_pay_notice]" {if $data['user_pay_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_pay_notice]" {if $data['user_pay_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>订单发货邮件通知客户:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_ship_notice]" {if $data['user_ship_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_ship_notice]" {if $data['user_ship_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>订单退款邮件通知:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_refund_notice]" {if $data['user_refund_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_refund_notice]" {if $data['user_refund_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_3" style="display:none">
  <tr>
    <th width="180">判断用户浏览器语言:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[use_agent_lang]" {if $data['use_agent_lang']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[use_agent_lang]" {if $data['use_agent_lang']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">注册发送邮件:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_register_notice]" {if $data['user_register_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_register_notice]" {if $data['user_register_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>注册开启验证码:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[register_verify]" {if $data['register_verify']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[register_verify]" {if $data['register_verify']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th>使用安全模式(https)登陆:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[user_safemode]" {if $data['user_safemode']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[user_safemode]" {if $data['user_safemode']==0} checked{/if}>否</label>
	</td>
  </tr>
</table>


<table width="100%" class="r_table" id="c_4" style="display:none">
  <tr>
    <th width="180">判断移动终端:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[mobile_mode]" {if $data['mobile_mode']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[mobile_mode]" {if $data['mobile_mode']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">User Agent关键词:</th>
	<td class="tleft">
		<input class="len2" name="sys[mobile_ua]" type="text" value="{$data['mobile_ua']}">
	</td>
  </tr>
  <tr>
    <th width="180">模板名称:</th>
	<td class="tleft">
		<input class="len2" name="sys[mobile_tpl]" type="text" value="{$data['mobile_tpl']}">
	</td>
  </tr>
  <tr>
    <th width="180">商品主图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_mobile_sid]">
			{foreach $image_setting['goods_main_img'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_mobile_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>商品展示图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_imgs_mobile_sid]">
			{foreach $image_setting['goods_imgs'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_imgs_mobile_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
  <tr>
    <th>商品描述图显示方案:</th>
	<td class="tleft">
		<select class="len2" name="sys[goods_descimg_mobile_sid]">
			{foreach $image_setting['goods_desc'] as $v}
			<option value="{$v['id']}" {if $v['id']==$data['goods_descimg_mobile_sid']} selected{/if}>{$v['name']}</option>
			{/foreach}
		</select>
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_1" style="display:none">
  <tr>
    <th>SMTP服务器:</th>
	<td class="tleft">
		<input class="len2" name="sys[smtp_host]" type="text" value="{$data['smtp_host']}">
	</td>
  </tr>
  <tr>
    <th>SMTP服务端口:</th>
	<td class="tleft">
		<input class="len2" name="sys[smtp_port]" type="text" value="{$data['smtp_port']}">
	</td>
  </tr>
  <tr>
    <th>SMTP账号:</th>
	<td class="tleft">
		<input class="len2" name="sys[smtp_user]" type="text" value="{$data['smtp_user']}">
	</td>
  </tr>
  <tr>
    <th>SMTP密码:</th>
	<td class="tleft">
		<input class="len2" name="sys[smtp_pswd]" type="password" value="{$data['smtp_pswd']}">
	</td>
  </tr>
  <tr>
    <th>邮件日志:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[email_log]" {if $data['email_log']==1} checked{/if}>启用</label>
		<label><input type="radio" value="0" name="sys[email_log]" {if $data['email_log']==0} checked{/if}>禁用</label>
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_6" style="display:none">
  <tr>
    <th>新订单通知:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[admin_order_notice]" {if $data['admin_order_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[admin_order_notice]" {if $data['admin_order_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">新订单通知邮箱:</th>
	<td class="tleft">
		<input class="len2" name="sys[admin_order_notice_email]" type="text" value="{$data['admin_order_notice_email']}"> (多个使用,分隔)
	</td>
  </tr>
  <tr>
    <th>事件故障通知:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[admin_error_notice]" {if $data['admin_error_notice']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[admin_error_notice]" {if $data['admin_error_notice']==0} checked{/if}>否</label>
	</td>
  </tr>
  <tr>
    <th width="180">故障通知邮箱:</th>
	<td class="tleft">
		<input class="len2" name="sys[admin_error_notice_email]" type="text" value="{$data['admin_error_notice_email']}"> (多个使用,分隔)
	</td>
  </tr>
  <tr>
    <th>服务器监控(仅适用linux):</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[server_monitor]" {if $data['server_monitor']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[server_monitor]" {if $data['server_monitor']==0} checked{/if}>否</label> 
	</td>
  </tr>
  <tr>
    <th>服务器状态通知邮箱:</th>
	<td class="tleft">
		<input class="len2" name="sys[server_monitor_email]" type="text" value="{$data['server_monitor_email']}"> (多个使用,分隔)
	</td>
  </tr>
</table>

<table width="100%" class="r_table" id="c_7" style="display:none">
  <tr>
    <th width="30%">使用安全模式(https)管理:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[admin_safemode]" {if $data['admin_safemode']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[admin_safemode]" {if $data['admin_safemode']==0} checked{/if}>否</label> 
	</td>
  </tr>
  <tr>
    <th>开启数据缓存:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[data_cache]" {if $data['data_cache']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[data_cache]" {if $data['data_cache']==0} checked{/if}>否</label> 
	</td>
  </tr>
  <tr>
    <th>开启模板缓存:</th>
	<td class="tleft">
		<label><input type="radio" value="1" name="sys[tpl_cache]" {if $data['tpl_cache']==1} checked{/if}>是</label>
		<label><input type="radio" value="0" name="sys[tpl_cache]" {if $data['tpl_cache']==0} checked{/if}>否</label> 
	</td>
  </tr>
  <tr>
    <th>字典缓存方式:</th>
	<td class="tleft">
		<select class="len2" name="sys[dict_cache]">
			<option value="" {if $data['dict_cache']==''} selected{/if}>不使用缓存</option>
			<option value="redis" {if $data['dict_cache']=='redis'} selected{/if}>Redis</option>
			<option value="memcache" {if $data['dict_cache']=='memcache'} selected{/if}>Memcache</option>
		</select>
	</td>
  </tr>
  <tr>
    <th width="180">Redis服务地址:</th>
	<td class="tleft">
		<input class="len2" name="sys[redis_host]" type="text" value="{$data['redis_host']}"> (默认: 127.0.0.1)
	</td>
  </tr>
  <tr>
    <th width="180">Redis服务端口:</th>
	<td class="tleft">
		<input class="len2" name="sys[redis_port]" type="text" value="{$data['redis_port']}"> (默认: 6379)
	</td>
  </tr>
  <tr>
    <th width="180">Redis访问密码:</th>
	<td class="tleft">
		<input class="len2" name="sys[redis_pswd]" type="text" value="{$data['redis_pswd']}">
	</td>
  </tr>
  <tr>
    <th width="180">Memcached服务地址:</th>
	<td class="tleft">
		<input class="len2" name="sys[memcache_host]" type="text" value="{$data['memcache_host']}"> (默认: 127.0.0.1)
	</td>
  </tr>
  <tr>
    <th width="180">Memcached服务端口:</th>
	<td class="tleft">
		<input class="len2" name="sys[memcache_port]" type="text" value="{$data['memcache_port']}"> (默认: 11211)
	</td>
  </tr>
</table>

<div class="r_bottom">
	<input type="submit" name="submit" value="submit">
</div>
</form>
</div>
</div>
{include comm_footer.html}