{include header.html}
<div class="box">
	{include map.html}
	<div class="fleft" id="left">
		{include catalog/catalogs.html}
		{include catalog/attributes.html}
	</div>
	<div class="fright" id="right">
		<div class="info">
			<div class="fleft images">
				<div class="main_img"><img id="big_img" src="{$goods['image'][$img_sign]}"/></div>
				<div class="more_img">
				{foreach $goods['img_more'] as $v}
				<div class="slider">
					<a href="javascript:;" big="{$v['image'][$show_sign_big]}">
						<img src="{$v['image'][$show_sign]}"/>
					</a>
				</div>
				{/foreach}
				</div>
				<script type="text/javascript">
				$(document).ready(function(){
					$('.slider a').hover(function(e){
						var big_src = $(this).attr('big');
						$('#big_img').attr('src', big_src);
					});
				});
				</script>
			</div>
			<div class="fright detail">
			<h1>{$goods['title']}</h1>
			
			{include goods/rating.html}
			
			<div class="extend">
			{foreach $goods['attr'] as $v}
				<div class="row"><span>{$v['name']}</span>: {$v['value']}</div>
			{/foreach}
			{foreach $goods['extend'] as $v}
				<div class="row"><span>{$v['name']}</span>: {$v['value']}</div>
			{/foreach}
				<div class="clear"></div>
			</div>
			<div class="line"></div>
			<div class="price">
			{L:Origin price}: <del>{$current_symbol}<em id="price_origin">{$goods['price_origin']}</em></del><br/>
			{L:Special price}: <span>{$current_symbol}<span id="price">{$goods['price']}</span></span>
			</div>
			<div class="line"></div>
			<form id="cart_form" method="post" action="{:url('cart/add')}">
			{if $goods['option']}
			<div class="option">
			{foreach $goods['option'] as $v}
			{$v['name']}: 
			<select class="option_id" name="option[{$v['op_id']}]">
				<option value="0" price="0">-{L:Select}-</option>
				{foreach $v['option'] as $o}
				<option price="{$o['price']}" value="{$o['id']}">{$o['name']} {if $o['price']>0}(+{$o['price']}){elseif $o['price']<0}({$o['price']}){/if}</option>
				{/foreach}
			</select>
			{/foreach}
			</div>
			<div class="line"></div>
			{/if}
			<div class="buy">
			{L:Quantity}: <input type="text" name="quantity" value="1" size="4">
			
			<p>
				<input type="hidden" name="goods_id" value="{$goods['goods_id']}">
				<input class="abutton" id="addtocart" type="submit" value="{L:Add to Cart}">
			</p>
			</div>
			</form>
			</div>
			<div class="clear"></div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			$('.option_id').change(function(){
				var price_origin = {$goods['price_origin']};
				var price = {$goods['price']};
				var add = 0;
				$('.option').find('select').each(function(){
					add = parseFloat($(this).find("option:selected").attr('price'));
					price_origin += add;
					price += add;
				});
				$('#price_origin').html(price_origin);
				$('#price').html(price);
			});
			$('#addtocart').click(function(e){
				e.preventDefault();
				var check = 1;
				$('.option').find('select').each(function(){
					s = parseInt($(this).find("option:selected").attr('value'));
					if(s == 0){
						check = 0;
						$(this).addClass('required');
					}
				});
				if(check == 1){
					$('#cart_form').submit();
				}
			});
			$('#tab li a').click(function(e){
				e.preventDefault();
				$('#tab li a').removeClass('hover');
				$(this).addClass('hover');
				var index = $('#tab').find('a').index($(this));
				$('#content>div').hide().eq(index).show();
			});
		});
		</script>
		<div class="description">
			<ul id="tab">
				<li><a href="javascript:;" class="hover">{L:Description}</a></li>
				<li><a href="javascript:;">{L:Reviews}</a></li>
			</ul>
			<div id="content">
				<div>{$goods['description']}</div>
				<div style="display:none;">
					{include goods/comments.html}
					{if $comments_num > 9}
					<div id="more_comments"><input type="button" class="abutton" id="ajax_comments" value="More"/></div>
					<script type="text/javascript">
					var comments_page = 2;
					$(document).ready(function(){
						$('#ajax_comments').click(function(){
							$.ajax({
								url:"{:url('goods/ajax_get_comment')}",   
								type:"POST",
								dataType:"html",
								data:{goods_id:{$goods['goods_id']}, page:comments_page},
								success:function(res)
								{
									if(res == 0){
										alert('No more reviews');
										$("#more_comments").remove();
									}else{
										$(res).insertBefore("#more_comments");
										comments_page++;
									}
								}
							});
							
						});
					});
					</script>
					{/if}
					<div class="addcomment">
					<form action="{:url('goods/comment?goods_id='.$goods['goods_id'])}" method="post">
						<div class="fleft summary">
						{foreach $summarys as $sum}
						<div class="score">
							<span class="summary_name">{$sum['name']}: </span>
							<label><input type="radio" value="1" name="score[{$sum['id']}]">1</label> 
							<label><input type="radio" value="2" name="score[{$sum['id']}]">2</label> 
							<label><input type="radio" value="3" name="score[{$sum['id']}]">3</label> 
							<label><input type="radio" value="4" name="score[{$sum['id']}]">4</label> 
							<label><input type="radio" value="5" name="score[{$sum['id']}]">5</label> 
						</div>
						{/foreach}
						</div>
						<div class="fright comment">
							<table border=0>
							<tr>
							<td>{L:Fullname}: </td><td><input type="text" value="" name="username"></td>
							</tr>
							<tr>
							<td valign="top">{L:Content}: </td><td><textarea name="content" rows="3" cols="20"></textarea></td>
							</tr>
							<tr>
							<td></td><td><input type="submit" value="{L:Submit}"></td>
							</tr>
							</table>
						</div>
					</form>
					<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cross_sell">
			<div class="cross_sell_title">You may like</div>
			<ul class="cross_sell_list">
			{foreach $cross_sell as $v}
				<li>
					<a href="{:url($v['url'])}"><img src="{$v['image'][$img_sign]}"/></a>
					<p class="name"><a href="{:url($v['url'])}">{$v['title']}</a></p>
					<p><del>{$v['price_origin']}</del> {$v['price']}</p>
				</li>
			{/foreach}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
{include footer.html}